<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <system.web>
    <!--上传限制为1G-->
    <httpRuntime maxRequestLength="1073741824"   executionTimeout="3600" useFullyQualifiedRedirectUrl="true" requestValidationMode="2.0" />
    <!--
    <customErrors mode="On" defaultRedirect="login.aspx">
      <error statusCode="404" redirect="404.html"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    -->
    <compilation debug="true" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" cookieless="UseCookies" defaultUrl="Default.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <sessionState mode="InProc" timeout="30"/>
  </system.web>

  <location path="reg.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--优质论文-->
  <location path="admin/highQualityPaperList.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="admin/RetrievePwd.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="admin/login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="checkCode.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="~/main.aspx">
    <system.web>
      <authorization>
        <allow roles="student,teacher,administrator"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
    <!--<add name="sqlConn" connectionString="server=.;database=pms;uid=sa;pwd=123456"/>
    <add name="sqlConn" connectionString="server=10.0.28.159,1106;database=pms;uid=sa;pwd=123456"/>-->
    <add name="sqlConn" connectionString="server=192.168.137.1;database=pms;uid=sa;pwd=123456"/>
  </connectionStrings>
</configuration>
