/**学生注册页面*/

#regmain {
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
}

.checkcodediv {
    position: relative;
    padding-left: 15px !important;
}

.select-drop {
    width: 100%;
}

#select-drop-pro {
    margin-left: 0px;
}

#regform {
    margin-top: 30px;
}

.error {
    color: red;
}

/*发布公告样式表*/

.tablediv {
    position: relative;
    margin-left: 0%;
    margin-top: 30px;
    border: #DDD 1.2px solid;
    border-radius: 10px 10px 10px 10px;
}

.titleTable > tbody > tr > td {
    border: 0px;
}

#titleTable {
    margin-left: 10%;
    margin-top: 20px;
}

.inputdiv {
    padding: 0px;
}

#InputAmount {
    position: relative;
    margin-top: -6px;
}

.title {
    color: black;
    font-size: 16px;
}

.btn-title {
    margin-top: 10px;
}

.titlemain {
    width: 100%;
    height: 400px;
    visibility: hidden;
}


/*密码修改界面样式表*/
.td-check {
    width:50px;
}
.changepwd {
    margin-top: 20px;
    border: 1px solid rgb(158, 157, 157);
    border-radius: 5px 5px 5px 5px;
}

.changeform {
    margin-top: 20px;
}

.teldiv {
    position: relative;
    padding-left: 15px !important;
}

#telverify {
    width: 60%;
}


/*题目列表样式*/

.paperpagination-div {
    margin-right: 10px;
}


/*
.paperlistbox {
    margin-top: 20px !important;
}
*/

.paperlisttable {
    margin-top: 30px;
}
/*列表头部样式*/
.big-box {
    margin-top: 30px;
}
/*去td上边框*/
.modal-body .table tbody tr td {
    border: none !important;
}

.modal-body .table .tablebody tr td {
    border: 1px solid #ddd !important;
}

#inputsearch {
    width: 150px;
    float: none;
}

.inputsearch {
    margin-left: 6px;
}

#btn-search {
    margin-left: -5px;
}

.teaAddinput {
    width: 200px;
}

.text-span {
    margin-top: 7px;
}

.teaLable {
    text-align: right;
}

.modal-body .table {
    margin-left: 80px;
    width: 80%;
}

.modal-body #selecttab {
    margin-left: 0;
    width: 100%;
}

#panel-head {
    height: 50px;
}

#inputgroups {
    margin-left: 10px;
    margin-top: 8px;
}

#btn-Add {
    margin-left: 5px;
}

#btn-Del {
    margin-left: 5px;
}

#teapanelbox {
    min-width: 554px;
}

#propanelbox {
    min-width: 413px;
}

#protab {
    min-width: 413px;
}

#selectToppanelbox {
    min-width: 480px;
}

#selectToptab {
    min-width: 480px;
}
/*选题记录*/
.hidemsg {
    display: none;
}
#btn-Adds {
margin-left:5px;
}
