/**学生注册页面*/

#regmain{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
}


/*发布公告样式表*/

.tablediv {
    position: relative;
    margin-left: 0%;
    margin-top: 30px;
    border: #DDD 1.2px solid;
    border-radius: 10px 10px 10px 10px;
}

.titleTable>tbody>tr>td {
    border: 0px;
}

#titleTable {
    margin-left: 10%;
    margin-top: 20px;
}

.inputdiv {
    padding: 0px;
}

#InputAmount {
    position: relative;
    margin-top: -6px;
}

.title {
    color: black;
    font-size: 16px;
}

.btn-title {
    margin-top: 10px;
}

.titlemain {
    width: 100%;
    height: 400px;
    visibility: hidden;
}


/*密码修改界面样式表*/

.changepwd {
    margin-top: 20px;
    border: 1px solid rgb(158, 157, 157);
    border-radius: 5px 5px 5px 5px;
}

.changeform {
    margin-top: 20px;
}

.teldiv {
    position: relative;
    padding-left: 15px !important;
}

#telverify {
    width: 60%;
}