body {
    margin-top:20px;
}

a {
    color: black;
}

a:hover {
    color: #013A58;
    text-decoration: none;
}

.big-box {
    margin-top: 30px !important;
}
/*newsList.aspx*/
#school-list {
    border-top: 2px solid #013A58;
}

#institute-list {
    border-top: 2px solid #013A58;
}

#Mine-list {
    border-top: 2px solid #013A58;
}
#school{
    margin-bottom:10px;
}
#institute{
    margin-bottom:10px;
}
#Mine{
    margin-bottom:20px;
}
#school-word a {
    float: right;
    margin-top: 20px;
}

.a-word {
    float: right;
    margin-top: 20px;
}

/*stuList*/
.box{
    margin-top:10px;
}
.box-1{
    margin-bottom:10px;
}
#inputsearch{
    margin-left:5px;
}
#btn-delete{
    margin-left:5px;
}

/*
    公告表格样式二次修改
    news.aspx
*/
/*.panel .panel-body {
    margin-top: -40px;
}*/

.text-right span{
    font-family:"仿宋";
}

.table > thead > tr > th{
    border-bottom:1px solid #ddd;
}

.newsContent label{
    font-family: "华文仿宋";
    font-weight:500;
    font-size:20px;
}


/*batchList.aspx 批次页面样式*/
.btnEditor{
    position:relative !important;
    margin-top:-55px !important;
    margin-left:200px !important;
}
#btn-back{
    float:right;
}

#plan_Title{
    /*页面标题*/
    padding:0px;
    margin-top:-15px;
}

/*paperDetailStu*/
/*题目信息页面panel面板调整*/
.title_head{
    border-bottom:2px solid #013A58;
}
.title_content{
    font-size:20px;
    position:relative;
    padding:20px 20px 20px 20px;
}
.detail_panel{
    margin-top:-30px;
    margin-bottom:20px;
}
/*选定题目按钮样式*/
#btn_ToPaperDtailStu{
    float:right;
    margin:-4px;
}
#teapanelbox{
    background-color:#f5f5f5;
    margin-bottom:10px;
}
.detail_info{
    margin-top:7px;
}
#btn_back{
    float:right;
    margin-top:-2px;
}
#page_head{
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}
/*公告信息页面head样式*/
.news_pageHead{
    padding-top:0px;
    padding-left:10px;
    padding-right:10px;
}
#news_btn_back{
    float:right;
    margin-top:8px;
}
/*公告列表页面表格时间列样式*/
.newsList_td{
    width:100px;
}

/*所有公告页面表格样式*/
#allNews_table{
    margin-top:30px;
    table-layout:fixed;
}
#allNews_table tbody tr td{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
/*#allNews_timeTD{
    width:100px;
}
#allNews_timeTH{
    width:100px;
}*/
#allNews_info{
    margin-top:8px; 
}
.allNews_pageHead{
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}
#allNaws_btnBack{
    float:right;
    margin-top:-2px;
}
#allNews_Title{
    margin-bottom:-20px;
    padding-bottom:0px;
}

/*
    mediiumQuality.aspx
*/
 .textInput{
    width:100%;
    height:100%;
    border:none
}
.textInput:focus{
    border:none;
    outline:none;
}
.textArea{
    width:100%;
    height:100%;
    border:none;
    outline:none;
    resize:none;
}
.label_Time{
    outline:none;
    border-bottom:1px solid black;
}
#mediumQuality_table{
    border:2px solid black;
}
#mediumQuality_table td{
    border:2px solid black;
    text-align:center;
    font-size:24px;
}


/*crossGuideTeacher*/
.btn_searchComment {
    vertical-align: middle;
    float: right;
}

.sap {
    padding-top: 20px;
}

.text_type {
    width: 80px;
    text-align: center;
}

.modal_comment {
    height: 200px;
}