body {
}

a {
    color: black;
}

    a:hover {
        color: rgb(12, 161, 241);
        text-decoration: none;
    }

.big-box {
    margin-top: 30px !important;
}
/*newsList.aspx*/
#school-list {
    border-top: 2px solid #013A58;
}

#institute-list {
    border-top: 2px solid #013A58;
}

#Mine-list {
    border-top: 2px solid #013A58;
}

#school-table span {
    color: #013A58;
}

#school-word a {
    float: right;
    margin-top: 20px;
}

.a-word {
    float: right;
    margin-top: 20px;
}

/*stuList*/
.box{
    margin-top:10px;
}
.box-1{
    margin-bottom:10px;
}
#inputsearch{
    margin-left:5px;
}
#btn-delete{
    margin-left:5px;
}

/*
    公告表格样式二次修改
    news.aspx
*/
.panel .panel-body {
    margin-top: -40px;
}

.text-right span{
    font-family:"仿宋";
}

.table > thead > tr > th{
    border-bottom:1px solid #ddd;
}

.newsContent label{
    font-family: "华文仿宋";
    font-weight:500;
    font-size:20px;
}